# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
*.iml
.idea/
local.properties

# APK/AAB
*.apk
*.aab
*.ap_

# Generated
captures/
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# Google Play service account
google-play-secret.json

# macOS
.DS_Store
